.home-container {
    height: 100%;
    @import "../shared/header.scss";

    .main-body {
        height: 100%;
        width: 100%;

        aside {
            &.left-side-container {
                height: calc(100% - #{$header-height});
                background-color: $aside-background-color;

                position: relative;

                transition: width $transition_time;

                &:before {
                    content: " ";
                    background-color: $aside-background-color;
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    transition: width $transition_time;
                }

                >.hamburger-icon {
                    position: absolute;
                    right: calculateRem(-35);
                    top: calculateRem(17);
                    z-index: 10;
                    transition: transform $transition_time;

                    svg {
                        cursor: pointer;
                        width: calculateRem(20);
                        height: calculateRem(22);
                    }
                }

                &.sidemenu-opened {
                    >.sidebar-content {
                        width: $aside-width;
                        opacity: 1;
                        overflow: visible;
                        height: 100%;
                        @include setPagePadding(20);
                    }

                    &:before {
                        width: $aside-width;
                    }
                }

                &.sidemenu-closed {
                    >.sidebar-content {
                        padding: 0rem;
                        width: 0rem;
                        opacity: 0;
                    }

                    &:before {
                        width: 0rem;
                    }
                }

                .sidebar-content {
                    transition: width $transition_time, padding $transition_time, opacity $transition_time;
                    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
                    color: $header-background;
                    overflow: hidden;
                    white-space: nowrap;

                    .row {
                        .sidebar-sticky {
                            ul {
                                li {
                                    padding: .8rem 0px;

                                    &.active {
                                        color: $blue-darker;

                                        svg {
                                            fill: $blue-darker;
                                        }
                                    }

                                    .title-holder {
                                        align-items: center;

                                        .icon-holder {
                                            margin-right: 0.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
            &.main-container {
                height: calc(100% - #{$header-height});
                width: 100%;
                overflow-y: hidden;

                &.sidemenu-opened {
                    width: calc(100% - #{$aside-width});
                }

                >.inner-bar {
                    height: calculateRem(60);
                    width: 100%;
                    border-bottom: 1px solid $gray-300;
                    justify-content: flex-end;
                    align-items: center;
                    padding-right: calculateRem(20);
                }

                >.main-holder {
                    overflow-y: auto;
                    height: calc(100% - #{calculateRem(60)});

                    >.container {
                        width: 100%;
                        min-height: 100%;
                        @import "../dashboard/dashboard.scss";
                        @import "../device/device.scss";
                    }

                    footer {
                        &.footer-container {
                            height: $footer-height;
                            background: #fff;
                            color: #444;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            border-top: 1px solid $gray-300;
                            width: 100%;

                            @include setPagePadding(20);
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .home-container {

        .main-body {
            main {
                &.main-container {
                    &.sidemenu-opened {
                        width: 100%;
                    }
                }
            }

            aside {
                &.left-side-container {
                    &.sidemenu-opened {
                        width: 100%;

                        >.sidebar-content {
                            width: 100%;
                        }

                        &:before {
                            width: 100%
                        }

                        >.hamburger-icon {
                            transform: translateX(calculateRem(-60))
                        }

                        &+* {
                            width: 0;
                            height: 0;
                            opacity: 0;
                            overflow: hidden;
                            transition: all $transition_time;
                        }
                    }

                    &.sidemenu-closed {
                        width: 0;
                    }
                }
            }
        }
    }
}